.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    margin:0;
    padding: 0;
    background-color: #2c3e50;
}

.container{
    position: relative;
    transform:rotate(135deg);
}

.circle{
    border:60px dashed #2c3e50;
    border-top-color:#fff;
    border-right-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #2c3e50;
    position: absolute;
    top: 50%;
    left: 50%;
    height:0;
    width:0;
    transform: translate(-50%,-50%) rotate(0deg);
    animation: 7s ease-in-out infinite;
}

/* .circle:nth-of-type(1){
    border:50px dashed #111;
    border-top-color:#fff;
    border-right-color: #fff;
    animation:rotateA 3s ease-in-out infinite;
}

@keyframes rotateA {
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.circle:nth-of-type(2){
    border:40px dashed #111;
    border-top-color:#fff;
    border-right-color: #fff;
    animation:rotateB 3s ease-in-out infinite;
}

@keyframes rotateB {
    to{
        transform: translate(-50%, -50%) rotate(720deg);
    }
}

.circle:nth-of-type(3){
    border:30px dashed #111;
    border-top-color:#fff;
    border-right-color: #fff;
    animation:rotateC 3s ease-in-out infinite;
}

@keyframes rotateC {
    to{
        transform: translate(-50%, -50%) rotate(1080deg);
    }
} */