*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2ec194;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.container .box{
    position: relative;
    width: 300px;
    height: 200px;
    margin:40px 0;
    background: #fff;
    font-family: consolas;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(0,0,0,0.1);
}

.shadow1{
    box-shadow: -30px 30px 20px     rgba(0,0,0,0.3);
}

.shadow2:before{
    content: '';
    position: absolute;
    bottom: 10px;
    left:10%;
    width:90%;
    height:50px;
    background: rgba(0,0,0,0.3);
    transform-origin: left;
    transform: skewY(5deg);
    z-index: -1;
    filter:blur(5px);
    animation: animate 5s infinite;
}

.box.shadow3:before{
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
    width:50%;
    height:30px;
    background: rgba(0,0,0,0.3);
    transform-origin: right;
    transform: skewY(-8deg);
    z-index: -1;
    filter:blur(10px);
}

.box.shadow3:after{
    content: '';
    position: absolute;
    bottom: 0;
    right:0;
    width:50%;
    height:30px;
    background: rgba(0,0,0,0.3);
    transform-origin: left;
    transform: skewY(8deg);
    z-index: -1;
    filter:blur(10px);
}

.shadow4:before{
    content: '';
    position: absolute;
    bottom: -50px;
    left:5%;
    width:90%;
    height:20px;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    z-index: -1;
    filter:blur(10px);
}

.shadow5:before{
    content: '';
    position: absolute;
    bottom: -15%;
    left:5%;
    width:90%;
    height:90%;
    background: rgba(0,0,0,0.3);
    z-index: -1;
    filter:blur(10px);
}

.container .box.shadow6{
    background: #2ec194;
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
                15px 15px 15px rgba(0,0,0,0.1);
}

.shadow7{
    background: #2ec194 !important;
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
                15px 15px 15px rgba(0,0,0,0.1),
                inset -15px -15px 15px rgba(255, 255, 255, 0.2),
                inset 15px 15px 15px rgba(0,0,0,0.1);
}

@keyframes animate{
    30%{
        transform-origin: left;
        transform: skewY(5deg);
        opacity: 1;
    }
    50%{
        transform-origin: right;
        transform: skewY(0deg);
        right:10%;
        opacity: 1;
    }
    70%{
        transform-origin: right;
        transform: skewY(-5deg);
        opacity: 1;
    }
    100%{
        transform-origin: left;
        transform: skewY(5deg);
        opacity: 0;
    }
}